body {
    background-color: lightblue;
}
#headingbar{
    height:10%;
    width:95%;
    margin:auto;
    flex-direction: row;
    padding:30px;
   }
   h1 {
       margin:auto;
       padding:0 0 0 46%;
       width: 60%;
   }
   #headingbar p {
       float:left;
       padding: 5px;
       margin:auto;
   }
   #headingbar img{
       float:right;
       padding: 5px;
       margin:auto;
   }
   main{
       width: 90%;
       margin: auto;
   }
   
   .box{
       float:left;
       background-color: white;
       margin: 10px 10px 10px 10px;
       padding: 0px 20px 0 20px;
       border-radius: 7px;
       box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
       overflow:auto;
   }
   
   #weather{
       display: block;
       width:30%;
       height: 370px;
   }
   #weatherdeets {
       display:grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
   }
   
   #lightsensor, #occupancy{
       display: block;
       width: 26.5%;
       height: 155px;
   }
   #lightindex, #occuppercent {
        font-size: 3em;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        margin: 0;
    }
   
   #energyuse {
       width:58%;
       height:190px;

       display:flex;
       flex-direction: row;
   }
   #energyuse div {
       margin:auto;
       padding:10px;
   }
   
   #lightdata {
       width: 95%;
       height:160px;
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
   }
   #lightdata aside {
    margin:auto;
}
#lightdata aside label {
    margin:auto;
}
#lightdata input {
    width:60px;
    margin:auto;
}
   #bulbpower {
    border:black double;
    width:40px;
    height:30px;
 background-color:darkseagreen;
}
#bulbpower p{
    text-align:center;
    padding:5px;
    margin:auto;
}